# PostgreSQL Database Configuration
POSTGRES_DB=ddbb_name
POSTGRES_USER=user_name_here
POSTGRES_PASSWORD=your_password_here
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Connection string for SQLAlchemy
DATABASE_URL=postgresql://postgres:your_password_here@localhost:5432/stt-performance
